
.upload {
  transform: translate(10px, -5px) !important;
}

.file {
    margin: 3%;
    vertical-align: middle;
}

.tablecol1 {
    padding: 1rem;
    border: 1px solid black;
    width:80%;
}

.tablecol2 {
    padding: 1rem;
    border: 1px solid black;
    width:20%;
}

.pagelayout{
    margin-top:6%;
}